@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@400;600;700&display=swap');
/* import new font i.e outfit through google fonts */

@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

/* Custom colors using Tailwind CSS */
:root {
    --color-primary: #E6CCFF;
}

/* formatting in response of gpt */
::-webkit-scrollbar {
    display: none;
}
.reset-tw:not(pre) :not(code) {
    all: revert;
}
.loader div:nth-last-child(2){
    animation-delay: 0.2s;
}
.loader div:nth-last-child(3){
    animation-delay: 0.4s;
}